<!-- Hello from Perent, Children:
<app-first></app-first>
<app-second></app-second>
<app-third></app-third> -->

<!-- {{name}} -->

<!-- <input type="test" [(ngModel)]="name" />

<button (click)="printName()">Print Name</button>
<button (click) ="changeNameToKeti()"> Change Name To Keti</button> -->

<!-- <button (click)="toggle()">Toggle</button>
<div *ngIf = "isShown">Hey</div> -->

<!-- <div *ngFor= "let animal of animals">
    <div>
        <p>{{animal}}</p>
    </div>
</div> -->


<!-- <div *ngFor= "let person of people">
    <div>
        <p> Name: {{person.name}}</p>
        <p> Age: {{person.age}}</p>
        <span>-----------</span>
    </div>
</div> -->

<!-- <select name="" id="">
    <option value="">first</option>
    <option value="">second</option>
    <option value="">third</option>
</select> -->

<!-- <button (click)= "red()"> Make Red </button>
<div [ngClass] = "{red: isRed}"> Hey </div> -->

<button (click)="red()">Make Red</button>
<!-- <div [ngClass]="{ red: isRed }">Hey</div> -->
<div [ngClass]="getClassName()">hey</div>
<!-- <div [ngStyle] = "getColor()"></div> -->


<!-- <div [class.red]= "true"> hey </div> -->